{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-6 app-form">
             
                {% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				<form method="post">
                {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}
					<h1 class="h3 mb-3 font-weight-normal">Connection</h1>
                    <div class="mb-3">
                        <label for="inputEmail">Email</label>
					    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword">Mot de passe</label>
					    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
					
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="checkbox mb-3">
						<label>
							<input type="checkbox" name="_remember_me">
							Se souvenir de moi !!!
						</label>
					</div>
                    <a href="">Mot de passe Oublié ?</a>
					<button class="btn btn-primary float-end mt-4" type="submit">
						Connection
					</button>
				</form>
                
			</div>
		</div>
	</div>
{% endblock %}

